body {
    font-family: Times New Roman, san-serif;
    line-height: 1.7;
    background: #2B1B04;
    color: #2B1B04;
    text-align: center;
    padding-right: 140px;
}

.row {
    margin-top: 100px;
}

#ttl {
    font-family: cursive;
    font-style: italic;
    color: #454545;
}

.box {
    border-radius: 6px;
    height: auto;
    width: 700px;
    float: left;
    position: relative;
    background-color: #ACB8FF;
}

.btns {
    float: left;
    position: relative;
    padding: 60px 80px 20px 80px;
    color: #2B1B04;
}

.btn {
    border: 1px solid #2B1B04;
    background-color: #ACB8FF;
    color: #2B1B04;
}

#newQuote {
    margin-left: 350px;
}

.clearfix {
    clear: both;
}

#author {
    float: right;
    padding-right: 50px;
}

a:hover {
    background-color: #2B1B04;
    color: #ACB8FF;
}

button:hover {
    background-color: #2B1B04;
    color: #ACB8FF;
}

#txt {
    color: #ACB8FF;
    font-style: italic;
    padding-right: 60px;
    position: relative;
}